img {
    width: 250px;
}
.price {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}
.block {
    width: 250px;
    text-align: center;
    margin-top: 90px;
}

.button {
    width: 200px;
    height: 30px;
    background-color: blue;
    color: aliceblue;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;
}
h4 {
    border-bottom: 1px solid red;
}
.main1 {
    display: flex;
    justify-content: center;
}
.two {
    text-decoration: line-through;
}